In [1]:
import pandas as pd

In [2]:
f=pd.DataFrame({'name':["ahmed","musafir"],'mask':['red','purple'],'weapon':['soldier','knife']})

In [3]:
f

      name    mask   weapon
0    ahmed     red  soldier
1  musafir  purple    knife

In [4]:
f.to_csv('output.csv',index=False)

In [5]:
newdf=pd.read_csv("output.csv")

In [6]:
newdf

      name    mask   weapon
0    ahmed     red  soldier
1  musafir  purple    knife