In [4]:
import pandas as pd

In [5]:
data=pd.read_csv("MakeSenseOfCensus.csv")
print(data)

     age  education-num  race  sex  capital-gain  capital-loss  \
0     39             13     4    1          2174             0
1     50             13     4    1             0             0
2     38              9     4    1             0             0
3     53              7     2    1             0             0
4     28             13     2    0             0             0
..   ...            ...   ...  ...           ...           ...
995   56              9     4    1             0             0
996   45             14     4    1             0             0
997   48             13     4    1             0             0
998   40             10     4    1          2580             0
999   39             13     4    1         15024             0

     hours-per-week  income
0                40       0
1                13       0
2                40       0
3                40       0
4                40       0
..              ...     ...
995              55       1
996              45       0
997              58       1
998              40       0
999              50       1

[1000 rows x 8 columns]

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             1000 non-null   int64
 1   education-num   1000 non-null   int64
 2   race            1000 non-null   int64
 3   sex             1000 non-null   int64
 4   capital-gain    1000 non-null   int64
 5   capital-loss    1000 non-null   int64
 6   hours-per-week  1000 non-null   int64
 7   income          1000 non-null   int64
dtypes: int64(8)
memory usage: 62.6 KB

In [7]:
data.describe()

,age,education-num,race,sex,capital-gain,capital-loss,hours-per-week,income
count,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000
mean,38.05100,10.084000,3.653000,0.671000,588.526000,92.960000,39.876000,0.23200
std,13.34948,2.548615,0.854003,0.470085,2618.537515,412.442337,12.018114,0.42232
min,17.00000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.00000
25%,28.00000,9.000000,4.000000,0.000000,0.000000,0.000000,40.000000,0.00000
50%,36.00000,10.000000,4.000000,1.000000,0.000000,0.000000,40.000000,0.00000
75%,46.00000,12.000000,4.000000,1.000000,0.000000,0.000000,45.000000,0.00000
max,90.00000,16.000000,4.000000,1.000000,34095.000000,2415.000000,99.000000,1.00000

In [9]:
data.age.mean()

38.051

In [8]:
data.age.describe()

count    1000.00000
mean       38.05100
std        13.34948
min        17.00000
25%        28.00000
50%        36.00000
75%        46.00000
max        90.00000
Name: age, dtype: float64

In [10]:
data.age.unique()

array([39, 50, 38, 53, 28, 37, 49, 52, 31, 42, 30, 23, 32, 40, 34, 25, 43,
       54, 35, 59, 56, 19, 20, 45, 22, 48, 21, 24, 57, 44, 41, 29, 18, 47,
       46, 36, 79, 27, 67, 33, 76, 17, 55, 61, 70, 64, 71, 68, 66, 51, 58,
       26, 60, 90, 75, 65, 77, 62, 63, 80, 72, 74, 69, 73, 81, 78],
      dtype=int64)

In [12]:
data.age.nunique()

66

In [15]:
data.age.value_counts()

age
43    33
31    33
34    32
23    30
33    30
      ..
74     1
69     1
73     1
81     1
78     1
Name: count, Length: 66, dtype: int64

# Maps
# Used for conversion of data from one type to another
## there are two types
- map()
-apply()
## both these methods do not modify the orignal database

In [6]:
mean=data.age.mean()

In [7]:
data.age.map(lambda curr_value:curr_value-mean)

0       0.949
1      11.949
2      -0.051
3      14.949
4     -10.051
        ...
995    17.949
996     6.949
997     9.949
998     1.949
999     0.949
Name: age, Length: 1000, dtype: float64

In [8]:
def row_lot(row):
    data_lot_mean=data.age.mean()
    row.age=row.age-data_lot_mean
    return row

In [9]:
data.apply(row_lot,axis="columns")

,age,education-num,race,sex,capital-gain,capital-loss,hours-per-week,income
0,0.949,13.0,4.0,1.0,2174.0,0.0,40.0,0.0
1,11.949,13.0,4.0,1.0,0.0,0.0,13.0,0.0
2,-0.051,9.0,4.0,1.0,0.0,0.0,40.0,0.0
3,14.949,7.0,2.0,1.0,0.0,0.0,40.0,0.0
4,-10.051,13.0,2.0,0.0,0.0,0.0,40.0,0.0
...,...,...,...,...,...,...,...,...
995,17.949,9.0,4.0,1.0,0.0,0.0,55.0,1.0
996,6.949,14.0,4.0,1.0,0.0,0.0,45.0,0.0
997,9.949,13.0,4.0,1.0,0.0,0.0,58.0,1.0
998,1.949,10.0,4.0,1.0,2580.0,0.0,40.0,0.0
999,0.949,13.0,4.0,1.0,15024.0,0.0,50.0,1.0