# Type Conversion

In [4]:
x=3
x
print(type(x))
y=float(x)
print(type(y))

<class 'int'>
<class 'float'>

In [7]:
f=3.14
print(type(f))
z=int(f)
print(z)
print(type(z))

<class 'float'>
3
<class 'int'>

In [9]:
d='87'
c=int(d)
type(c)
print(c)

87

In [10]:
d

'87'

In [15]:
#string to float
d='78'
h=float(d)
print(h)

78.0

In [16]:
s={"hello"}
type(s)

set

In [17]:
x=10
y=9
if(x>y):
    print("Hello World!")

Hello World!

In [19]:
x=1
y=9
if(x>y):
    print("Hello World!")
else:
    print("How Are You?")

How Are You?

In [23]:
yash=int(input("enter age: "))
harry=int(input("enter age:"))
if(yash>harry):
    print("yash is older")
elif(yash<harry):
    print("harry is older")
else:
    print("they are twins")

enter age: 56
enter age:56
they are twins

In [25]:
inp=int(input("enter number between 1 to 7"))
if(inp==1):
    print("Sunday")
elif(inp==2):
    print("Monday")
elif(inp==3):
    print("Tuesday")
elif(inp==4):
    print("Wednesday")
elif(inp==5):
    print("Thursday")
elif(inp==6):
    print("Friday")
elif(inp==7):
    print("Saturday")
else:
    print("enter valid value!")

enter number between 1 to 75
Thursday

In [26]:
n=int(input("enter a number"))
if(n%2==0):
    print("The Number Is Even")
else:
    print("The Number Is Odd")

enter a number8468
The Number Is Even

In [27]:
y=int(input("enter your age"))
if(age>19):
    print("you are eligible")
else:
    print("Grow Up First")

enter your age89
you are eligible

In [28]:
age=19
result='you can vote' if age>18 else "you cannot vote"
print(result)

you can vote

# Nested If

In [29]:
x=30
y=4
z=5
if(x>y):
    if(x>z):
        print("x is largest")
    else:
        print("z is largest")
else:
    if(y>z):
        print("y is largest")
    else:
        print("z is largest")

x is largest

In [1]:
a1=int(input("enter an integer:"))
if(a1%2==0):
    print("the Nmber is even")
else:
    print("the number is odd")

enter an integer:79
the number is odd

In [7]:
age=int(input("enter age"))
if(age<13):
    print("you are a child")
elif(age>=13 and age<18):
    print("you are a teenager")
elif(age>18 and age<60):
    print("you are an adult")
elif(age>=60):
    print("you are an adult")

enter age60
you are an adult

In [10]:
year=int(input("enter the year"))
if(year%4==0 and year%100==0):
    print("the year is leap year")
else:
    print("the year is not leap year")

enter the year2000
the year is leap year

In [12]:
x=int(input("enter a number"))
y=int(input("enter a number"))
z=int(input("enter a number"))
if(x>y):
    if(x>z):
        print(x," is the greatest number")
    else:
        print(z, "is the greatest umber")
elif(y>x):
    if(y>z):
        print(y," is the greates number")
    else:
        print("z is the largest number")

enter a number89
enter a number56
enter a number132
132 is the greatest umber

In [15]:
x=int(input("enter a number"))
if(x>0):
    print("the number is positive ")
elif(x<0):
    print("the number is negative")
else:
    print("the number is equal to zero")

enter a number-9864
the number is negative

In [2]:
vowels = ['a','e','i','o','u']
i = input('Enter an alphbet: ')
if i in vowels:
    print('Vowel')
else:
    print('Consonant')

Enter an alphbet: e
Vowel

# Loops
## ~While loop
## ~For

In [4]:
x=10
while(x<20):
    print("yash")
    x+=1

yash
yash
yash
yash
yash
yash
yash
yash
yash
yash

In [ ]:
x=4
while(x<10):
    print(x)
    x+=1

In [ ]:
ny=int(input("enter an integer"))
i=1
while(i<10):
    print(i,"X",ny,"=",i*ny)
    i+=1

In [ ]:
ny=int(input("enter an integer"))
i=1
while(i<10):
    print(i,"X",ny,"=",i*ny)
    i+=1

In [12]:
ny=int(input("enter an integer"))
i=1
while(i<10):
    print(i,"X",ny,"=",i*ny)
    i+=1

enter an integer5
1 X 5 = 5
2 X 5 = 10
3 X 5 = 15
4 X 5 = 20
5 X 5 = 25
6 X 5 = 30
7 X 5 = 35
8 X 5 = 40
9 X 5 = 45

In [13]:
f=["apple","banana","spice"]
for list in f:
    print(list)

apple
banana
spice

In [14]:
dict={"key":"value",1:"one",2:"two"}
for t in dict:
    print(t)

key
1
2

In [15]:
for t in dict.values():
    print(t)

value
one
two

In [16]:
for t in dict.items():
    print(t)

('key', 'value')
(1, 'one')
(2, 'two')

# Generator Object

In [6]:
powers=(i**2 for i in range(10))
print(powers)
next(powers)

<generator object <genexpr> at 0x0000020FF816C450>

0

In [7]:
next(powers)

1

In [8]:
next(powers)

4

In [9]:
next(powers)

9

In [14]:
lst1=["apple","banana","orange"]
lst2=["sweet","juicy","sour"]
for lsts2 in lst2:
    for lsts1 in lst1:
        print(lsts1,lsts2)

apple sweet
banana sweet
orange sweet
apple juicy
banana juicy
orange juicy
apple sour
banana sour
orange sour

In [17]:
n=0
while(n<6):
    
    if(n==3):
        break
    print(n)
    n+=1

0
1
2

In [18]:
lst1=["apple","banana","orange"]
for i in lst1:
    print(i)
    if (i=="banana"):
        break

apple
banana

In [20]:
try:
    print(xyz)
except:
    print("please enter valid name!")
finally:
    print("Done.!")

please enter valid name!
Done.!

In [21]:
X=24
if(X<25):
    raise Exception("the number is less than 25")

Exception: the number is less than 25

In [25]:
y="yash"
if type(y) is not int:
    raise TypeError("only integers are allowed !")

TypeError: only integers are allowed !

In [29]:
def area(radius):
    area=3.14*radius*radius
    print("Area of circle is:\t")
    return area

In [27]:
area(6)

113.03999999999999

In [31]:
area(8)

Area of circle is:

200.96

In [32]:
area(7)

Area of circle is:

153.86

In [1]:
def si(p,r,t):
    p=int(input("enter principle"))
    r=int(input("rnter the rate"))
    t=int(input("enter the time"))
    s=(p*r*t)/100
    return s

In [2]:
si(12000,2,1)

enter principle12000
rnter the rate5000
enter the time30

18000000.0

In [3]:
def func(x,y,z):
    sm=x+y+z
    return sm

In [4]:
func(1,2,3)

6

# scope

In [5]:
def fun():
    global p
    p=90
    return p

In [6]:
fun()

90

In [7]:
p

90

# lambda 
## can take any number of argument but can have only on expression

In [8]:
pl=lambda x:x+10
pl(3)

13

In [9]:
pl(8)

18

In [10]:
multiply=lambda a,b:a*b
multiply(5,3)

15

In [13]:
triple=lambda a,b,c:a+b*c
triple(9,0,8)

9

# python modules
## built in modules

In [1]:
import datetime
print(datetime.datetime.now())

2023-11-18 18:45:07.666089

In [2]:
newdate=datetime.datetime(2007,1,31)
print(newdate)

2007-01-31 00:00:00

In [10]:
newdate.strftime("%A")

'Wednesday'

In [7]:
newdate.strftime("%B")

'January'

In [8]:
newdate.strftime("%b")

'Jan'

In [12]:
newdate.strftime("%d ")

'31 '

In [13]:
newdate.strftime("%Y")

'2007'

# Math Module

In [16]:
import math
math.sqrt(64)

8.0

In [17]:
math.ceil(8.987)#round up the digit

9

In [18]:
math.floor(8.987)

8

In [19]:
import math as m
m.factorial(5)

120

# Random Module

In [27]:
import random
random.randint(1,112)

69

In [31]:
random.randrange(9)

5

In [32]:
x=random.randint(1,2)
if x==1:
    print("head")
else:
    print("Tails")

head

In [33]:
random.choice(['Head','Tail'])

'Head'

In [34]:
for i in range(5):
    print(random.choice(['head','tail']))

head
tail
tail
head
head

In [40]:
def toss():
    return random.choice(['head','tails'])

In [41]:
toss()

'tails'

In [42]:
import Python_step4 as t
t.greeting("yash")

ModuleNotFoundError: No module named 'Python_step4'